n8n/workflows/wf2_trade_alert.json
{
  "name": "WF2 — Trade Alert",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "trade", "responseMode": "onReceived" },
      "id": "webhook",
      "name": "Webhook Trade",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO events (symbol, type, payload) VALUES ($1, 'TRADE_ALERT', $2::jsonb)",
        "additionalFields": { "queryParams": "={{$json.body.symbol}},={{JSON.stringify($json.body)}}" }
      },
      "id": "pg-log",
      "name": "Log Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 0]
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "=Trade {{$json.body.symbol}} — PnL {{$json.body.pnlNet}} — PF {{$json.body.profit_factor}}"
      },
      "id": "tg",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [440, 0]
    }
  ],
  "connections": {
    "Webhook Trade": { "main": [[{ "node": "Log Postgres", "type": "main", "index": 0 }]] },
    "Log Postgres": { "main": [[{ "node": "Telegram", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "description": "CD §8.7 WF2 — webhook /webhook/trade" }
}
