tmp_sync_c/wf4_daily_report.json
{
  "name": "WF4 — Rapport Daily",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "58 23 * * *" }] } },
      "id": "cron",
      "name": "Cron 23h58 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT symbol, COUNT(*) trades, SUM(pnl_net) pnl FROM trades WHERE dry_run=false AND entry_time >= CURRENT_DATE GROUP BY symbol"
      },
      "id": "pg",
      "name": "Agrégats Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 0]
    },
    {
      "parameters": { "chatId": "={{$env.TELEGRAM_CHAT_ID}}", "text": "=Rapport daily ROHAN\n{{JSON.stringify($json)}}" },
      "id": "tg",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [440, 0]
    }
  ],
  "connections": {
    "Cron 23h58 UTC": { "main": [[{ "node": "Agrégats Postgres", "type": "main", "index": 0 }]] },
    "Agrégats Postgres": { "main": [[{ "node": "Telegram", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "description": "CD §8.7 WF4 — rapport quotidien Telegram" }
}
